@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, nord;
};
@plugin "@iconify/tailwind4";

@keyframes float {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(20px, -20px); }
}

.animate-drift {
  animation: float 15s ease-in-out infinite;
}